:root {
    --colourOne: #4F4031;
    --colourTwo: #CCAB87;
    --colourThree: #FFF1BD;
    --colourFour: #FFC6EB;
    --colourFive: #CEEBC4;
    --colourSix: #f3eeee;
    --textColour: #222;
}

@font-face {
    font-family: 'Alegreya';
    src: url('./assets/fonts/Alegreya-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Frijole';
    src: url('./assets/fonts/Frijole-Regular.woff2') format('woff2');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya', serif;
    color: var(--textColour);
}


nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: var(--colourOne)
}
select {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
justify-self: center;
}

h2 {
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--colourOne);
}
.profile-container {
       display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
}

.post-image {
    width: 80%;
    height: auto;
}

.links, .logout, a {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: var(--textColour);
    transition: all 0.2s ease-in-out;
}

.logout:hover, a:hover {
    color: var(--colourTwo);
transform: scale(1.1);
}

.post-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid var(--colourOne);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    background-color: var(--colourThree);
    width: clamp(400px, 60%, 700px);
}
#root {
    background-color: var(--colourSix);
    min-height: 100vh;
}
.post {
    display :flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
   
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    
}

header {
    background-color: var(--colourFour);
    border-bottom: 5px solid var(--colourOne);
}

h1 {
    font-family: 'Frijole', cursive;
    font-size: 5rem;
    color: var(--colourOne);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid var(--colourOne);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    background-color: var(--colourFive);
    width: clamp(300px, 50%, 600px);
    margin-left: auto;
    margin-right: auto;
}
.search {
    padding: 0.8rem;
    border-radius: 0.9rem;
    width: fit-content;
    flex-direction: row;
    margin: 1rem;
    background-color: var(--colourFour);
    border: none;
}

.search input {
    width: clamp(200px, 50%, 400px);
    height: 2.3rem;
}

li{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-self: center;
    gap: 1rem;
    padding: 1rem;
}
.name {
    font-weight: bold;
    font-size: 2rem;
}
button {
    padding: 0.5rem 0.8rem;
    
    width: fit-content;
    flex-direction: row;
   
}
.profile{
    display: flex;
    margin: 2rem;
    gap: 2rem;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author {
    display: flex;
}
@media screen and (max-width: 750px) {
    nav {
   display: flex;
    justify-content: space-around;
    padding: 1rem;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    }
}

